:root {
  --silver: #e5e5e5;
  --skyblue: #00d0ff;

}

* {
  font-family: sans-serif;
  background-color: var(--silver);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: static;
  border-width: 50px;
  border-style: solid;
  border-color: var(--skyblue);
  background-color: var(--skyblue);
}

.header h1 {
  display: inline-block;
  font-size: 200%;
  margin: 2% 5%;
}

h1 {
  font-family: fantasy;
  font-style: italic;
  background-color: var(--skyblue);
}

.header ul li {
  list-style-type: none;
  margin-right: 20px;
  float: right;
}

.header nav ul li a {
  display: inline-block;
  font-size: 20px;
  background-color: var(--skyblue);
}

#today {
  margin-left: 60px;
}

#profile {
  width: 300px;
  height: 375px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-link:hover {
  text-decoration: none;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  padding: 2px;
  box-shadow: 2px 2px;
}

img {
  width: 500px;
  height: 300px;
  margin: 50px;
  border-style: solid;
  border-color: #000;

}

.content {
  background-color: var(--silver);
}

h2 {
  background-color: var(--skyblue);
}

.firstsection {
  margin: 20px;
  padding: 50px;
  border: 2px;
  color: #000;
  border-style: solid;
  background-color: var(--skyblue);
}

.secondsection {
  margin: 20px;
  padding: 50px;
  border: 2px;
  color: #000;
  border-style: solid;
  font-size: 16px;
  background-color: var(--skyblue);
}

ul {
  list-style: none;
  background-color: var(--skyblue);
}

p {
  background-color: var(--skyblue);
}

a {
  background-color: var(--skyblue);
}

.imageCards {
  display: flex;
  flex-direction: row;
}

.footer {
  padding: 30px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--skyblue);
  font-size: 15px;
}

@media screen and (min-width: 600px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 992px) {}